<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Cyberloginit</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Cyberloginit</li><li><a class="u-email" href="mailto:cyberloginit#protonmail.com">cyberloginit#protonmail.com</a></li></ul>
      <a href="https://m.do.co/c/de1b31930850" target="_blank"><img src="/images/DO_Powered_by_Badge_black.svg" ></a>
      </div>

      <div class="footer-col footer-col-2">
        <ul style="list-style-type:none">
          <li>Friends: </li>
          <li><a href="https://blog.alalin.me/" target="_blank">alalin.me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Cyber Log in IT.</p>
      </div>
    </div>

  </div>

</footer>
