<div class="sidebar nav-menu">
<h5 class="nav-menu">Hop til</h5>
<p><a href="#hele-landet">Hele landet</a></p>
<p><a href="#aldersgrupper">Aldersgrupper</a></p>
<p><a href="#vaccinationsstatus">Vaccinationsstatus</a></p>
<p><a href="#gennembrudsinfektioner">Gennembrudsinfektioner</a></p>
<p><a href="#virusvarianter">Virusvarianter</a></p>
<p><a href="#politiske-tiltag">Politiske tiltag</a></p>
<p><a href="#kommuner-landsdele-og-regioner">Kommuner, landsdele og regioner</a></p>
<p><a href="#øvrige-sammenligninger">Øvrige sammenligninger</a></p>
<h5>Sider</h5>
<p><a href="/model.html">Model for antal smittede</a></p>
<p><a href="/Forklaring.html">Forklaring af datafiler og begreber</a></p>
<p><a href="/misc.html">Andre diagrammer</a></p>
<h5>Analyser</h5>
<p><a href="/age_groups.html">Analyse af smittetal i forskellige aldersgrupper</a></p>
<p><a href="/indlagte.html">En stor del af registrerede COVID-19 indlæggelser skyldes ikke COVID-19 sygdom</a></p>
<p><a href="https://medium.com/@kristofferbaek/kurven-over-smittede-i-danmark-er-misvisende-8777014256dd">Kurven over smittede i Danmark er misvisende</a></p>



</div>
