<div class="sidebar nav-menu">
<h5 class="nav-menu">Hop til</h5>
<p><a href="#plots-hele-landet">Plots: hele landet</a></p>
<p><a href="#plots-politiske-tiltag">Plots: politiske tiltag</a></p>
<p><a href="#plots-kommuner-og-landsdele">Plots: kommuner og landsdele</a></p>
<p><a href="#plots-aldersgrupper">Plots: aldersgrupper</a></p>
<p><a href="#plots-øvrige-sammenligninger">Plots: øvrige sammenligninger</a></p>
<h5>Sider</h5>
<p><a href="/model.html">Model for antal smittede</a></p>
<p><a href="/Forklaring.html">Forklaring af datafiler og begreber</a></p>
<p><a href="https://ktbaek.shinyapps.io/test_sim/">App til simulering af testscenarier</a></p>


<script id = "coffee" type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="covid19danmark" data-color="#FFDD00" data-emoji=""  data-font="Lato" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>

</div>
