---
---

@import "jekyll-theme-slate";

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

body {
  background-color: #FFFFFF;
}
